html{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-family:Verdana;
	line-height:1.5;
}

*:before, *:after{box-sizing:inherit;}

body{margin:0;}

.sidebar{
	height:100%;
	width:200px;
	background-color:transparent;
	position:fixed!important;
	z-index:1;
	overflow:auto;
}

.bar-block .bar-item{
	width:100%;
	text-align:left;
	font-weight:bold;
	padding:8px 16px;
	display:block;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
}

.card{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*w3-animation-left*/
.animation{
	position:relative;
	animation:animateleft 0.4s;
}

@keyframes animateleft{
	from{
		left:-300px;
		opacity:0;
	}
	
	to{
		left:0;
		opacity:1;
	}
}

.bar-item{
	padding:8px 16px;
	float:none;
	width:auto;
	border:none;
	outline:none;
	display:block;
}

.nav-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;  
}

.nav-button:disabled{
	cursor:not-allowed;
	opacity:0.3;
}

.nav-large{
	font-size:18px!important;
}

#main{
	transition:margin-left .4s;
}

.nav-head, .nav-head:hover{
	color:#394a5c;
	background-color:#ffffff;
}

.nav-xlarge{
	font-size:24px!important;
}

.container{
	padding:0.01em 16px;
}

.container:after, .container:before{
	content: "";
	display:table;
	clear:both;
}

.img{
	width:180px;
	height:150px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

.tab-content{
	margin-left:20px;
	margin-right:20px;
	text-indent:30px;
}

.quote{
	border-left:5px solid #fff3a5;
	margin-left:30px;
	text-align:justify;
	background:#f8f8f8;
	border-right:1px solid #dfdfd0;
	padding:10px;
	box-shadow:3px 5px #dfdfd0;
}

.links{
	color:#0868ab;
	font-weight:bold;
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
	color:#0868ab;
}

.mainList, .breakList, .bar-item{
	text-decoration:none;
	list-style-type:none;
	color:#0868ab;

}

.breakList{
	padding:8px 12px;
	font-size:14px;
}

.mainList a:hover{ 
	background-color:#0868ab;
	color:#fff;
}

button:hover{
	background-color:#0868ab;
	color:#fff;
}


.syntaxhighlighter{
	border-radius:5px;
}

.syntaxhighlighter{
	width:100% !important;
	margin:1em 0 1em 0;
	padding:1em 0;
	position:relative !important;
	overflow:auto;
	font-size:1em;
	background:#eee;
}

::selection{
	background:#b3d4fc;
	text-shadow:none;
}

#content table{
	margin:1em 2em;
}

.syntaxhighlighter table td.code{
	width:100% !important;
}

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter pre, .syntaxhighlighter code, .syntaxhighlighter textarea, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption{
	border-radius:0,0,0,0;
	background:none;
	bottom:auto;
	height:auto;
	left:auto;
	line-height:1.1em;
	margin:0;
	outline:0;
	overflow:visible;
	padding:0;
	position:static !important;
	right:auto;
	text-align:left;
	top:auto;
	width:auto;
	vertical-align:baseline !important;
	box-sizing:content-box !important;
	font-family:Consolas;
	font-weight:normal;
	font-style:normal;
	font-size:1em;
	min-height:auto;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

#content .syntaxhighlighter tr{
	border-bottom:none;
}

#content tbody tr{
	border-bottom:1px solid #666;
}

pre, code{
	font-family:Consolas;
	word-spacing:0;
}

pre, code{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
	word-spacing:0;
	font-size:13px;
	line-height:16px;
}

pre{
	margin:1em, 0;
}

.syntaxhighlighter table td .code .container{
	position:relative;
}

.syntaxhighlighter tab td .code .line{
	padding:0.05em;
}

.syntaxhighlighter .line{
	white-space:pre !important;
}

pre code{
	display:block;
	padding:0.5em;
	color:#333;
	background:#f8f8ff;
}

pre code{
	background-color:transparent;
	font-size:16px;
	font-weight:bold;
	white-space:pre;
	word-wrap:normal;
}

pre preprocessor, pre .pi, pre .doctype, pre .shebang, pre .cdata{
	color:#999 !important;
	font-weight:bold;
}

pre .tag, pre .tag .title, .pre .rules .property, pre .django .tag .keyword{
	color:#000080;
	font-weight:normal;
}

pre .title, pre .id{
	color:#900;
	font-weight:bold;
}

pre .attribute, pre .variable, pre .lisp, .body{
	color:#008080;
}

pre .string, pre .tag .value, pre .phpdoc, pre .text .formula{
	color:#d14;
}

pre .comment, pre .template, pre .diff, .header, pre .javadoc{
	color:#998;
	font-style:italic;
}

pre .keyword, pre .css .rule .keyword, pre .winutlis, pre .javascript .title, pre .nginx .title, pre .subst, pre .request, pre .status{
	color:#333;
	font-weight:bold;
}